{sub_dirs, ["rel", "apps/*"]}.
{deps, [
    {ecomponent, ".*", {git, "https://github.com/altenwald/ecomponent", {branch, "simple"}}},
    {rebar_vsn_plugin, ".*", {git, "https://github.com/erlware/rebar_vsn_plugin.git", master}}
]}.
{plugins, [rebar_vsn_plugin]}.
{plugin_dir, "deps/rebar_vsn_plugin/src"}.
